/* Your application styles go here */

.mt0 {margin-top: 0;}

.date {
  font-family: "Century Gothic", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #777;


  /*position: absolute;*/
  top: 0;
  left: 0;
  /*padding: 0 0 8px 8px;*/
  width: 89px;
  height: 32px;
  z-index: 99;
}

.day {
  font-size: 40px;
  font-weight: bold;
  float: left;
  padding: 4px 10px 4px 0;
  margin: 0 10px 0 0;

  border-right: 1px solid #a1a293;
  text-shadow: #7c7c70 0 1px 0;
}

.month {
  display: block;
  float: left;
  font-weight: bold;
  font-size: 22px;
  line-height: 100%;
  padding-left: 1px;
  padding-top: 5px;
  padding-right: 14px;
  padding-bottom: 4px;
  border-right: 1px solid #a1a293;
  font-family: "Fixed", monospace;
  margin: 0 10px 0 0;
}

.year, .time, .location {
  display: block;
  font-size: 1.1em;
}


.event.item > a{padding-bottom: 8px;}

.icon.event-icon {font-size: 32px; color: #999; right:10px;}

.author {
  text-align: right;
  font-size: 14px;
  padding: 5px;
}

.author:before {
  /*font-family: "Ionicons";*/
  content: '-';
}


