<ion-view title="Info">
  <ion-content class="has-header padding">
    <button class="button button-full energized-bg" href="#" onclick="window.open('http://www.quickscores.com/Orgs/PrintSchedule.php?OrgDir=jlsorenson&LeagueID=579973&TeamID=4486183', '_system', 'location=yes'); return false;">
      View League
    </button>
    <button class="button button-full energized-bg" href="#" onclick="window.open('http://www.slco.org/recreation/jlsorenson/youthSports/pdf/2014JrJazzParentsInf.pdf', '_system', 'location=yes'); return false;">
      Parent Info
    </button>
  </ion-content>
</ion-view>
